*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: rgb(241, 242, 244);
}

.titulo{
    text-align: center;
    margin-bottom: 35px;
    margin-top: 25px;
    color: black;
    font-family: 'Montserrat', sans-serif;
}

form{
    background-color: white;
    color: black;
    width: 230px;
    height: 45%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 40px;
    border-radius: 8px;
}

.campo_Nome input{
    width: 170px;
    height: 2px;
    border:0px solid;
    padding: 15px 35px 15px 15px;
    background-color: rgb(241, 242, 244);
    margin-left: 5px;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}

.campo_dataNasc input{
    width: 190px;
    height: 2px;
    border:0px solid;
    padding-left: 15px;
    padding: 15px;
    background-color: rgb(241, 242, 244);
    margin-left: 5px;
    color: #757575;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}

.botao_Enviar input{
    width: 220px;
    height: 33px;
    border:0px solid;
    background-color:rgb(93, 7, 154);
    cursor: pointer;
    margin-left: 5px;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
}

.botao_Enviar input:hover{
    background-color: rgb(124, 41, 184);
}

.l_nome{
    position: absolute;
    top: 138px;
    right: 63px;
    font-size: 13px;
}

.l_pesquisar{
    position: absolute;
    top: 238px;
    right: 63px;
    font-size: 13px;
    color: white;
}


